<div>
  <div>
    <h1>
      <%=@the_board.name%>
    </h1>
<hr>

<h2>Add a new post</h2>
<form action="/insert_post">
  <div>
    <label for="title_field">Title</label>
    <input type="text" name = "the_title" id = "title_field">
  </div>
  <div>
    <label for="body_field">Body</label>
    <textarea name="the_body" id="body_field" rows="3"></textarea>
  </div>

  <div>
    <label for="expiration_field">Expires on</label>
    <input type="date" id = "expiration_field" name = "expiration_date">
  </div>

  <button>Add post</button>
</form>

<hr>

<h2>Active posts</h2>

<table border = "1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>
  

</table>
